<!--************* Nave Bar End *******************************-->

@model DialysisPatientTracker.ViewModels.AddTreatmentMasterListViewModel;

<div class="form">
    <form asp-controller="TreatmentMasterList" asp-action="AddTreatment" method="post">
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <h2>Add Treatment Orders</h2>
                <label class="col-sm-4 col-form-label" asp-for="MedicalRecord"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="MedicalRecord">
                    <span class="validationMessage" asp-validation-for="MedicalRecord"></span>
                </div>
            </div>
        </div><!------------------- end of Medical Record input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="LastName"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="LastName">
                    <span class="validationMessage" asp-validation-for="LastName"></span>
                </div>
            </div>
        </div><!------------------- end of lastname input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="FirstName"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="FirstName">
                    <span class="validationMessage" asp-validation-for="FirstName"></span>
                </div>
            </div>
        </div><!------------------- end of firstName input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="Physician"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="Physician">
                    <span class="validationMessage" asp-validation-for="Physician"></span>
                </div>
            </div>
        </div><!------------------- end of Physician input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="TreatmentDays"></label>
                <div class="col-sm-6">
                    <select class="form-control" asp-for="TreatmentDays">
                        <option value="MWF">Alabama</option>
                        <option value="TTHS">Alaska</option>
                        <option value="MIXED">Arizona</option>
                    </select>
                    <span class="validationMessage" asp-validation-for="TreatmentDays"></span>
                </div>
            </div>
        </div><!------------------- end of Treatment Days input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="TreatmentTime"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="TreatmentTime">
                    <span class="validationMessage" asp-validation-for="TreatmentTime"></span>
                </div>
            </div>
        </div><!------------------- end of Treatment Time input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="AccessType"></label>
                <div class="col-sm-6">
                    <select class="form-control" asp-for="AccessType"></select>
                    <span class="validationMessage" asp-validation-for="AccessType"></span>
                </div>
            </div>
        </div><!------------------- end of Access Type input  ---------------------->

        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="KBath"></label>
                <div class="col-sm-6">
                    <select class="form-control" asp-for="KBath"></select>
                    <span class="validationMessage" asp-validation-for="KBath"></span>
                </div>
            </div>
        </div><!------------------- end of K Bath input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="CaBath"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="CaBath">
                    <span class="validationMessage" asp-validation-for="CaBath"></span>
                </div>
            </div>
        </div><!------------------- end of Ca Bath input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="NaBath"></label>
                <div class="col-sm-6">
                    <select class="form-control" asp-for="NaBath">
                        <option selected>Choose...</option>
                        <option value="1">2.5</option>
                        <option value="2">2.0</option>
                        <option value="3">3.0</option>
                    </select>
                    <span class="validationMessage" asp-validation-for="NaBath"></span>
                </div>
            </div>
        </div><!------------------- end of Na Bath input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="BiCarb"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="BiCarb">
                    <span class="validationMessage" asp-validation-for="BiCarb"></span>
                </div>
            </div>
        </div><!------------------- end of Bicarb input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="Temp"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="Temp">
                    <span class="validationMessage" asp-validation-for="Temp"></span>
                </div>
            </div>
        </div><!------------------- end of Temp  input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="DialyzerSize"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="DialyzerSize">
                    <span class="validationMessage" asp-validation-for="DialyzerSize"></span>
                </div>
            </div>
        </div><!------------------- end of Dialyser Size input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-4 col-form-label" asp-for="Comments"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="Comments">
                    <span class="validationMessage" asp-validation-for="Comments"></span>
                </div>
            </div>
        </div><!------------------- end of Comments input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-5 col-form-label"></label>
                <div class="col-sm-4">
                    <input style="background-color:yellow; color:midnightblue; border-radius:50%" type="submit" class="form-control" value="Add Treatment">
                </div>
            </div>
        </div>
    </form>
</div>