<style>
    .nav-bar2 {
        /* margin-top: -70px;*/
        margin-left: 1055px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 25px;
        font-size: large;
    }

    .navbar-brand {
        color: yellow;
        margin-top: 10px;
        font-size: 18px;
    }

    h2 {
        text-align: center;
        padding-top: 1px;
        padding-bottom: 60px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 1px;
        color: yellow;
    }

    input, input[placeholder] {
        text-align: center;
        background-color: midnightblue;
        color: white;
    }

    .form-control {
        color: white;
    }

    .form {
        border: solid rgba(255, 255, 26,.8) 4px;
        border-radius: 20%;
        background: rgba(40, 37, 141, .5);
        padding: 90px;
        padding-top: 50px;
        margin-top: 100px;
        /*margin-bottom: 100px;
        margin-left: 250px;
        margin-right: 250px;*/
    }

    a {
        color: yellow;
    }

        a:hover {
            color: white;
        }

    #search-button {
        background-color: yellow;
        color: midnightblue;
        border-radius: 50%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

@model DialysisPatientTracker.Models.UserAccount

@{
    ViewData["Title"] = "Registration";
}

<hr />
@if (ViewBag.Message != null)
{
    <div><h4> @ViewBag.SuccessMessage</h4></div>
}
<div class="row">

    <div class="form col-lg-7 col-lg-offset-2">

        <h2>Registration</h2>
        <form asp-action="Register" asp-controller="UserAccount" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsAmin" /> @Html.DisplayNameFor(model => model.IsAmin)
                            </label>
                        </div>
                    </div>
                </div>*@
            <div class="form-group">

                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-2">
                    <label class="label-succes">@ViewBag.SuccessMessage</label>
                </div>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}