<html>
<head>
    <style>
        #nav-bar2 {
            margin-left: 1050px;
            margin-right: 10px;
        }

        h1 {
            border: yellow solid 2px;
            text-align: center;
            padding: 20px 5px;
            margin-top: 50px;
            margin-bottom: 0px;
            background-color: navy;
            color: yellow;
        }

        table {
            border: solid 2px yellow;
            align-content: center;
            background: rgba(40, 37, 141, .8);
        }

        th {
            color: yellow;
            border: solid 2px yellow;
            background-color: darkmagenta;
            text-align: center;
        }

        tr {
            border: solid 2px darkslategray;
            text-align: center;
            background: rgba(40, 37, 141, .8);
            color: snow;
        }

        td {
            color: white;
            text-align: center;
            border: solid 2px yellow;
        }

        hr {
            border: none;
            height: 3px;
            background-color: darkslategray;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:midnightblue">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index" class="navbar-brand">Dialysis Patient Tracker</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a style="color:snow" asp-area="" asp-controller="SearchOptions" asp-action="Index">Patient Search Options</a></li>
                    <li><a style="color:snow" asp-area="" asp-controller="PatientMasterList" asp-action="Index">Patient MasterList</a></li>
                    <li><a style="color:snow" asp-area="" asp-controller="PatientMasterList" asp-action="TreatmentMasterList">Treatment Master List</a></li>
                </ul>
                <ul id="nav-bar2" , class="navbar-collapse collapse">
                    <li><a style="color:yellow" asp-area="" asp-controller="SignUp" asp-action="Index">Sign Up</a></li>
                    <li><a style="color:yellow" asp-area="" asp-controller="LogOut" asp-action="Index">Log Out</a></li>
                    <li><a style="color:yellow" asp-area="" asp-controller="LogIn" asp-action="Index">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <h1>Patient Demographics</h1>

    <table class="table">

        <!--  ************TOD DO !! Have to program table to fill in with inputs ********************-->

        <thead>
            <tr>
                <th>PT ID</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Phone <br />Number</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Hilton</td>
                <td>Davis</td>
                <td>43</td>
                <td>Male</td>
                <td>10279Windswept Place<br />
                    Boca Raton, FL 33490</td>
                <td>(856)366-9972</td>
                <td>fortsillmedic2017@gmail.com</td>
            </tr>

            <tr>
                <td>2</td>
                <td>Hilton</td>
                <td>Jenneh</td>
                <td>43</td>
                <td>Male</td>
                <td>
                    10279Windswept Place<br />
                    Boca Raton, FL 33490
                </td>
                <td>(856)366-9972</td>
                <td>fortsillmedic2017@gmail.com</td>
            </tr>

            <tr>
                <td>3</td>
                <td>Hilton</td>
                <td>Annette</td>
                <td>43</td>
                <td>Male</td>
                <td>
                    10279Windswept Place<br />
                    Boca Raton, FL 33490
                </td>
                <td>(856)366-9972</td>
                <td>fortsillmedic2017@gmail.com</td>
            </tr>
        </tbody>
    </table>

    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="color:midnightblue">
            <li><a style="color:midnightblue" asp-area="" asp-controller="SignUp" asp-action="Index">Sign Up</a></li>
            <li><a style="color:midnightblue" asp-area="" asp-controller="LogOut" asp-action="Index">Log Out</a></li>
            <li><a style="color:midnightblue" asp-area="" asp-controller="LogIn" asp-action="Index">Login</a></li>
        </ul>
    </div>
</body>
</html>