@model DialysisPatientTracker.ViewModels.AddPatientDemographicsViewModel;

<div class="form">
    <form asp-controller="PatientDemographics" asp-action="AddDemographics" method="post">
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <h2>Add Demographic</h2>
                <label class="col-sm-4 col-form-label" asp-for="MedicalRecord"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="MedicalRecord">
                    <span class="validationMessage" asp-validation-for="MedicalRecord"></span>
                </div>
            </div>
        </div><!------------------- end of Patient Id#  input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">

                <label class="col-sm-4 col-form-label" asp-for="LastName"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="LastName">
                    <span class="validationMessage" asp-validation-for="LastName"></span>
                </div>
            </div>
        </div><!------------------- end of last name input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">

                <label class="col-sm-4 col-form-label" asp-for="FirstName"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="FirstName">
                    <span class="validationMessage" asp-validation-for="FirstName"></span>
                </div>
            </div>
        </div><!------------------- end of first Name input  ---------------------->

        <div class="form-group row">
            <div class="col-lg-12 my-1">

                <label class="col-sm-4 col-form-label" asp-for="Age"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="Age">
                    <span class="validationMessage" asp-validation-for="Age"></span>
                </div>
            </div>
        </div><!------------------- end of Age input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">

                <label class="col-sm-4 col-form-label" asp-for="Gender"></label>
                <div class="col-sm-6">
                    <select class="form-control" asp-for="Gender"></select>
                    <span class="validationMessage" asp-validation-for="Gender"></span>
                </div>
            </div>
        </div><!------------------- end of Gender input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">

                <label class="col-sm-4 col-form-label" asp-for="Address"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="Address">
                    <span class="validationMessage" asp-validation-for="Address"></span>
                </div>
            </div>
        </div><!------------------- end of Address input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">

                <label class="col-sm-4 col-form-label" asp-for="PhoneNumber"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="PhoneNumber">
                    <span class="validationMessage" asp-validation-for="PhoneNumber"></span>
                </div>
            </div>
        </div><!------------------- end of phone number input  ---------------------->

        <div class="form-group row">
            <div class="col-lg-12 my-1">

                <label class="col-sm-4 col-form-label" asp-for="Email"></label>
                <div class="col-sm-6">
                    <input class="form-control" asp-for="Email">
                    <span class="validationMessage" asp-validation-for="Email"></span>
                </div>
            </div>
        </div><!------------------- end of Email  input  ---------------------->
        <div class="form-group row">
            <div class="col-lg-12 my-1">
                <label class="col-sm-5 col-form-label"></label>
                <div class="col-sm-4">
                    <input style="background-color:yellow; color:midnightblue; border-radius:50%" type="submit" class="form-control" value="Add Demographics">
                </div>
            </div>
        </div>
    </form>
</div>