<style>
    body {
        background: url(https://images.pexels.com/photos/40784/drops-of-water-water-nature-liquid-40784.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500) no-repeat;
        background-size: cover;
    }
        h1 {
       padding:5% 10% 13% 10%;
       color:midnightblue;
       
    }

        hr{

            margin-top:13%;
        }
    

    .form-control {
        color: yellow;
        background-color:midnightblue;
        margin: auto;
        border:none;
      
    }
    
    .form-group {
        text-align: center;
        
        
    }

</style>



<div class="form-group">
    <h1>You Have Successfully <br />Logged Out </h1>
</div>



<div class="form-group row">
    <form asp-controller="LogIn" asp-action="Index" method="post">
        <div class="col-md-4 col-md-offset-4 text-center">
            <input class="form-control" type="submit" value="Log In">
        </div>
    </form>
</div>

<div class="form-group row">
    <form asp-controller="SignUp" asp-action="Index" method="post">
        <div class="col-md-4 col-md-offset-4 text-center">
            <input class="form-control" type="submit" value="Sign Up">
        </div>
    </form>
</div>





