<style>
    
    h1 {
        padding: 5% 10% 13% 10%;
        color: rgb(0, 0, 51);
    }

    hr {
        margin-top: 13%;
    }


    .form-control {
        color: yellow;
        background-color: midnightblue;
        margin: auto;
        border: none;
    }

    .form-group {
        text-align: center;
    }
</style>

<!--****************HTML**************-->


<div class="form-group">
    <h1>You Have Successfully <br />Logged Out </h1>
</div>









