<style>

    h1 {
        padding: 5px;
        color: yellow;
        margin-top: 210px;
        margin-left: 200px;
        margin-right: 200px;
        background: rgba(40, 37, 141, .5);
        border-radius: 50%;
        border: yellow 2px solid;
    }

    hr {
        margin-top: 23%;
    }

    .form-control {
        color: yellow;
        background-color: midnightblue;
        margin: auto;
        border: none;
    }

    .form-group {
        text-align: center;
        color: yellow;
    }
</style>

<!--****************HTML**************-->

    <div class="form-group row">
        <h1 class="col-lg-2">You Have Successfully <br />Logged Out </h1>
    </div>
<